<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/LegacyOrders.csdl|res://*/LegacyOrders.ssdl|res://*/LegacyOrders.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ayendepc\sqlexpress;initial catalog=UberProf.Backend;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>